@import '../../colors.scss';


.custom-btn {
  background-color: transparent;
  border: 2px solid $black_color;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: $black_color;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 2.2vw;
  font-weight: 600;
  justify-content: center;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all 0.1s;
  box-shadow: 2px 2px 4px $black_color;
  width: 10vw;
    &:hover,
    &:focus {
        box-shadow: 1px 1px 2px $black_color;
    }
    &:hover {
        transform: scale(0.99);
      }
    &:active {
        background-color: $darkgreen_color;
        transform: translateY(0);
      }
}

.inverted{
    background-color: $black_color;
    border: 0.2rem solid $black_color;
    color: $darkgreen_color;

    &:hover {
        transform: scale(0.98);
      }
    &:active {
        background-color: $black_color;
        border-color: $grey_color;
        transform: translateY(0);
      }

}





