@import "../../colors.scss";

.custom-btn {
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: $button;
  font-weight: 550;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
  width: 5vw;
  min-width: 48px;
  min-height: 40px;
  color: $sub-color;
  border: none;
  background-color: transparent;
  transition: transform 0.1s ease-in-out;

  &:hover{
    transform: translate3d(2px, 2px , 1vw);
    
  }

  &:active,
  &.inverted {
    color: $subtertiary-color;
    outline: none;
  }
}

@media only screen and (max-width: 800px) {
  .custom-btn{
    font-size: $heading;
  }
}
