@mixin fade {
    opacity: 0;
  transform: translateX(20%);
}

@mixin fade-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.4s ease-in;
}

/* appear on page-load */
.fade-appear {
  opacity: 0;
  transform: translateX(-15%);
}
.fade-appear.fade-appear-active {
    opacity: 1;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

.fade-enter {
    @include fade;
    z-index: -1;
}
.fade-enter.fade-enter-active {
    @include fade-active;
}

.fade-exit {
  transform: translateX(0%);
  opacity: 1;
}

.fade-exit.fade-exit-active {
  transform: translateX(20%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}