@import '../../colors.scss';

.contact-container{
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & .form-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: rgba(110, 110, 110, 0.521);
        background: linear-gradient(to bottom right, $black_color 40%, $grey_color 80%, $darkgreen_color 100%);
        width: 40vw;
        height: 90vh;
        padding: 0vw 2vw;
    }
    & .send-btn{
        margin: 0vw 2vw;
        margin-top: 0vw;
        width: 90%;
        font-size: 1.7vw;
        padding: 8px 0%;
        border: none;
        background: rgba(235, 234, 234, 0);
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(-120deg, $lightgrey_color, $lightgreen_color) 1;
        color: white;
        font-weight: bolder;
        transition: all ease-in-out 0.2s 0.1s;
        cursor: pointer;
        &:focus{
            transform: scale(0.95);
            border-image: linear-gradient(18deg, $lightgrey_color, $lightgreen_color) 1;
            transition: all ease-in-out 0.2s;
        }
    }
    
}

@media only screen and (max-width: 800px) {
    .contact-container{
        width: 100vw;
        height: 88vh;
        display: flex;
        align-items: center;
        justify-content: center;
            & .form-container{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                background: rgba(110, 110, 110, 0.521);
                background: linear-gradient(to bottom right, $black_color 40%, $grey_color 80%, $darkgreen_color 100%);
                // box-shadow: 5px 5px 6px black;
                width: 80vw;
                height: 80vh;
                padding: 0vw 2vw;
                & .send-btn{
                    margin-top: 0vw;
                    width: 90%;
                    margin-left: 5%;
                    font-size: 1.7vh;
                    padding: 8px 0%;
                    border: none;
                    background: rgba(235, 234, 234, 0);
                    border-style: solid;
                    border-width: 2px;
                    border-image: linear-gradient(-120deg, $lightgrey_color, $lightgreen_color) 1;
                    color: white;
                    font-weight: bolder;
                    transition: all ease-in-out 0.2s 0.1s;
                    cursor: pointer;
                    &:focus{
                        transform: scale(0.95);
                        border-image: linear-gradient(18deg, $lightgrey_color, $lightgreen_color) 1;
                        transition: all ease-in-out 0.2s;
                    }
                }
            }
        }
    }