@import "../../colors.scss";

.home-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0% 5%;
  & .home-container {
    height: fit-content;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2% 5%;
    position: relative;
    z-index: 2;
    @include border-gradient;
    border-width: 5px;
    backdrop-filter: blur(4px);
    padding: 2%;
    background: rgba(0, 0, 0, 0.438);
    .text-component {
      margin: 2vh 0;
    }
    & .sub-text {
      font-size: $text;
      color: $sub-color;
      // width: 80%;
      min-width: 80%;
      max-width: 95%;
      padding: 1%;
      opacity: 0.8;
      &::before {
        content: open-quote;
        color: rgb(255, 255, 255);
        font-size: 1.1em;
        font-weight: 500;
      }
      &::after {
        content: close-quote;
        color: rgb(255, 255, 255);
        font-size: 1.1em;
        font-weight: 500;
      }
    }
  
    .links-list {
      display: flex;
      justify-content: space-evenly;
      width: 14vw;
      min-width: 150px;
      position: relative;
      & .icon-home {
        color: transparent;
        background: linear-gradient(200deg, $tertiary-color 0%, $subtertiary-color 100%);
        background-clip: text;
        transition: 0.2s ease-in-out color;
        & .icon {
          font-size: $text;
        }
        &:hover {
          color: $sub-color;
        }
      }
    }
  }
}


@media only screen and (max-width: 800px) {
    // .sub-text {
    //   width: 100%;
    // }
}