@import '../../project/project.style.scss';
@import '../../../colors.scss';

.links-section{
    height: 70%;
    width: 0%;
    transition: all $transition-time ease-in-out;

    display: none;
    &.expanded{
        @include expanded-part;
        width: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .icon-custom{
        display: inline-block;
        color: $darkgreen_color;
        transition: color 0.2s ease-in-out;
        &:hover{
            color: $lightgreen_color;
            transition: color 0.2s ease-in-out;
            cursor: pointer;
        }
    }
}