@import "../../project/project.style.scss";
@import "../../../colors.scss";

.desc-section {
  height: 0%;
  width: 0%;
  background: transparent;
  // transition: all $transition-time ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.expanded {
    width: 35%;
    height: 50%;
    padding: 1% 2%;
  }
  .desc-headline {
    font-size: 0vw;
    font-weight: bolder;
    margin-bottom: 5%;
    &.expanded {
      font-size: $subheading ;
      transition: font-size 0s ease-in 0.1s;
    }
  }
  .desc-par {
    font-family: inherit;
    text-align: left;
    font-size: $sublist;
    visibility: hidden;
    opacity: 0;
    &.expanded {
      visibility: visible;
      transition: visibility 0s ease-in 0.2s, opacity 0.2s ease-in-out;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 800px) {
  .desc-section {
    &.expanded {
      height: 50%;
      width: 45%;
      padding: 1%;
    }
    .desc-headline {
      margin-bottom: 15%;
      &.expanded {
        font-size: $heading;
      }
    }
    .desc-par {
      width: 80%;
      line-height: 1.2rem;
      font-size: $sublist;
    }
  }
}
