@import '../../colors.scss';

.skills-page{
    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
.skills-container{
    width: 80%;
    margin-left: 7vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    .skill-list{
        flex: 1 0 25%;
        height: 5vw;
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: left;
        .skill-component{
            width: fit-content;
            display: flex;
            color: white;
            align-items: center;
            column-gap: 8px;
            font-size: 1.7vw;
            transition: all 0.2s ease-in-out;
            &:hover{
                transform: translateX(0.5vw);
                transition: all 0.2s ease-in-out;
            }
            &.full{
                cursor: pointer;
                color: $lightgreen_color;
                transition: transform 0.2s ease-in-out;
                font-size: 2vw;
                &:hover{
                    transform: translateX(2vw);
                    transition: all 0.6s ease-in-out;
                }
            }
        }
        .subskill-component{
            display: flex;
            align-items: center;
            column-gap: 8px;
            margin-left: 2vw;
            width: fit-content;
            color: rgb(255, 255, 255);
            font-size: 1.4vw;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            &.expanded{
                opacity: 1;
                transform: translateX(10px);
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                transform: translateX(3px);
                transition: all 0.1s ease-in-out;
            }
        }
    }  
}
}