@import "../../colors.scss";

.skills-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  color: $sub-color;
  .skills-container {
    width: 100%;
    height: 80%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 11%;
    row-gap: 1%;
    flex-wrap: wrap;
    .skill-list {
      @include border-gradient;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 12vw;
      min-width: 120px;
      row-gap: 0.5vh;
      height: 8vw;
      min-height: 100px;
      padding: 1%;
      backdrop-filter: blur(4px);
      background-color: rgba(0, 0, 0, 0.411);
      transition: 0.3s ease-in-out backdrop-filter;
      text-align: center;
      &:hover{
        backdrop-filter: blur(0px);
      }
      & .skill-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        font-size: $list;
        height: 100%;
        text-shadow: 2px 2px 5px black;
        &.full {
          cursor: pointer;
          color: $subtertiary-color;
          font-weight: bolder;
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: translate3d(3px, 3px,4px);
          }
        }
      }
      & .subskill-component {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 8px;
        width: fit-content;
        transform: scale(0) translateX(0);
        transition: all 0.3s ease-in-out;
        font-size: 0;
        &.expanded {
          font-size: $sublist;
          transform: scale(1) translateX(1vw);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .skills-page {
    width: 100%;
    & .skills-container {
      column-gap: 2%;
      & .skill-list {
        width: 10%;
        min-width: 100px;
      }
    }
  }
}
