@import '../../colors.scss';

.skills-page{
    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
.skills-container{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .skill-list{
        width: 30%;
        height: 0%;
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        align-items: flex-start;
        & .skill-component{
            display: flex;
            color: white;
            align-items: center;
            column-gap: 10px;
            font-size: 26px;
            width: 100%;
            &.full{
                cursor: pointer;
                color: $lightgreen_color;
                transition: transform 0.1s ease-in-out;
                &:hover{
                    transform: translateX(2vw);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        & .subskill-component{
            display: flex;
            align-items: center;
            column-gap: 8px;
            margin-left: 2vw;
            width: fit-content;
            color: rgb(255, 255, 255);
            font-size: 18px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            &.expanded{
                opacity: 1;
                transform: translateX(10px);
                transition: all 0.3s ease-in-out;
            }
        }
    }  
}
}

@media only screen and (max-width: 800px) {
    .skills-page{
        height: 90vh;
        width: 100vw;
        justify-content: center;
    .skills-container{
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: row;
        .skill-list{
            & .skill-component{
                column-gap: 5px;
                font-size: 20px;
            }
            & .subskill-component{
                margin-left: 4vw;
                font-size: 12px;
            }
        }  
    }
    }
}