@import '../../colors.scss';


.text_container{
    font-family: inherit;
    .primary_text{
        color: white;
        font-weight: bolder;
        font-size: 3.5vw;
    }
    
    .secondary_text{
        color: $lightgreen_color;
        font-weight: bolder;
        font-size: 3vw;
    }
    
    .tertiary_text{
        color: $lightgrey_color;
        font-weight: bolder;
        font-size: 2.5vw;
    }
}



