@import "./colors.scss";

.App {
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
  display: flex;
  flex-direction: row;
}

.text-appear {
  opacity: 0;
  transform: translateX(-30%);
}

.text-appear.text-appear-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 400ms ease-in-out;
}

.text-enter {
  opacity: 0;
  transform: scale(0.9);
}
.text-enter.text-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 1000ms;
}

.text-exit {
  opacity: 0;
}

.background-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
