@import './colors.scss';


.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sticky-1{
  z-index: -100;
  height: 15vw;
  width: 15vw;
  background: linear-gradient(180deg, $lightgrey_color 0%, $black_color 90%);
  position: absolute;
  left: 3%;
  top: 3%;
  z-index: -100;
  transition: all 0.9s linear;
}

.sticky-2{
  z-index: -100;
  height: 20vw;
  width: 20vw;
  background: linear-gradient(0deg, $grey_color 0%, $black_color 90%);
  position: absolute;
  right: 33%;
  bottom: 2%;
  z-index: -100;
  transition: all 0.9s linear;
}

@media only screen and (max-width: 800px) {
  .sticky-1{
    z-index: -100;
    height: 20vh;
    width: 20vh;
    background: linear-gradient(180deg, $lightgrey_color 0%, $black_color 90%);
    position: absolute;
    left: 3%;
    top: 3%;
    z-index: -100;
    transition: all 0.9s linear;
  }
  
  .sticky-2{
    z-index: -100;
    height: 20vh;
    width: 20vh;
    background: linear-gradient(0deg, $grey_color 0%, $black_color 90%);
    position: absolute;
    right: 2%;
    bottom: 20%;
    z-index: -100;
    transition: all 0.9s linear;
  }
}


