$main-color: #0b0b08;
$sub-color:  #f3f3f3;
$tertiary-color: #933627;
$subtertiary-color:  rgb(0, 128, 233);


$heading: clamp(22px, 1em + 3vw, 52px);
$subheading: clamp(20px, 1em + 2vw, 44px);
$button: clamp(12px, 0.1em + 1vw, 20px);
$text: clamp(12px, 1em + 1vw, 24px);
$list: clamp(14px, 0.5em + 1vw, 26px);
$sublist: clamp(10px, 0.2em + 0.8vw, 22px);

@mixin border-gradient {
    border: 2px solid;
    border-image: linear-gradient(-120deg, $tertiary-color, $subtertiary-color) 1;
}
