$main-color: #222629;
$tertiary-color: #474b4f;
$sub-color: #61892f;


$main-color: #0b0b08;
$sub-color:  #f3f3f3;
$tertiary-color: #933627;
$subtertiary-color:  rgb(0, 128, 233);


$heading: clamp(22px, 1em + 3vw, 52px);
$subheading: clamp(20px, 1em + 2vw, 44px);
$button: clamp(12px, 0.1em + 1vw, 20px);
$text: clamp(12px, 1em + 1vw, 24px);
$list: clamp(14px, 0.5em + 1vw, 26px);
$sublist: clamp(12px, 0.4em + 0.8vw, 22px);
