
body {
  margin: 0;
  padding: 0;  /* fallback for old browsers */
  background: rgb(17, 15, 15);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  word-spacing: normal;
  overflow: hidden;
  z-index: -1;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
